[project]
	description = Cucumber for the JVM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jamiewastin
[access "refs/for/refs/*"]
	read = group user/jamiewastin
	push = group user/jamiewastin
	label-Code-Review = -2..+2 group user/jamiewastin
	label-Verified = -1..+1 group user/jamiewastin
	rebase = group user/jamiewastin
	removeReviewer = group user/jamiewastin
	submit = group user/jamiewastin
[access "refs/heads/*"]
	read = group user/jamiewastin
	create = group user/jamiewastin
	push = +force group user/jamiewastin
	pushMerge = group user/jamiewastin
[access "refs/tags/*"]
	push = +force group user/jamiewastin
	pushTag = group user/jamiewastin
	pushSignedTag = group user/jamiewastin
